/* Modal */
.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal.open {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Modal content */
.modal-content {
  background-color: #fefefe;
  border: 1px solid #888;
  border-radius: 10px;
  max-width: 800px; /* Set the maximum width to match the iframe width */
  max-height: 600px; /* Set the maximum height to match the iframe height */
  width: 100%; /* Ensure the width takes up the available space */
  height: 100%; /* Ensure the height takes up the available space */
  display: flex; /* Enable flexbox for centering the iframe */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  overflow: hidden; /* Hide overflow */
  position: relative;
}

/* Close button */
.close-btn {
  color: #aaa;
  font-size: 28px;
  font-weight: bold;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.close-btn:hover,
.close-btn:focus {
  color: black;
  text-decoration: none;
}